<div>
<div class="navbar">
  <div>
    <span>Aspiring Nation</span>
  </div>
  <div>
    <a class="nav-link" aria-current="page" [routerLink]="'Home'" routerLinkActive="active">Home</a>
    <a class="nav-link" aria-current="page" [routerLink]="'Course'" routerLinkActive="active">Course</a>
    <a class="nav-link" aria-current="page" [routerLink]="'Document'" routerLinkActive="active">Latest Notifications</a>
    <a class="nav-link" aria-current="page" [routerLink]="'Signup'" routerLinkActive="active">Sign-up</a>
  </div>
</div>
<router-outlet></router-outlet>
</div>