<div class="card-container">
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">December 2022</h3>
    <p class="card-text">India’s 100 Richest 2022: Gautam Adani tops Forbs rich list</p>
    <a href="https://drive.google.com/file/d/1r5RjZ5ec_ZglI5xmtWh65dGZ_3JJVNBE/view?usp=drive_link"  class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">January 2023</h3>
    <p class="card-text">17th Pravasi Bharatiya Samman Award 2023 announced</p>
    <a href="https://drive.google.com/file/d/13-hwZBJQV-_wvvVQrnA2u5prFJkmqq31/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">February 2023</h3>
    <p class="card-text">THE UNION BUDGET 2023-24.</p>
    <a href="https://drive.google.com/file/d/1o8QCcPQH8VUCAOEbGABJwNUVOHRvuwOh/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">March 2023</h3>
    <p class="card-text">Oscars awards 2023 : Check the complete list of winners</p>
    <a href="https://drive.google.com/file/d/1-W3HSye_lg7BN3oi-u23kNSb_y87l2hs/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">April 2023</h3>
    <p class="card-text">Forbes billionaire 2023 list: Mukesh Ambani become richest sports owner</p>
    <a href="https://drive.google.com/file/d/1PE092KIHL5WbiQbWaOeOG4ybj34TeEYw/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">May 2023</h3>
    <p class="card-text">Chennai Super Kings (CSK) clinched their fifth Indian Premier
      League (IPL) title, equaling a record with Mumbai Indians.</p>
    <a href="https://drive.google.com/file/d/1d8o7vxrb1EkokiqQ7dkhSzA4_9GPn-FS/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">June 2023</h3>
    <p class="card-text">PM Modi and President Biden Exchange Unique Gifts During White House Visit</p>
    <a href="https://drive.google.com/file/d/1Oh1tvIS3HHqC0QHKBqHYZxnJ3ypbIYQ4/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">July 2023</h3>
    <p class="card-text">Chandrayaan-3: India’s Mission to Soft-Land on the Moon’s South Pole</p>
    <a href="https://drive.google.com/file/d/1miDeqD211KFra4OS7H9hE_Z75ZlS6631/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">August 2023</h3>
    <p class="card-text">India’s Tiger Population Reaches 3,925 with 6.1% Annual Growth Rate</p>
    <a href="https://drive.google.com/file/d/1ayR5RNEQWpLJjraqGWMDoLL1FiIJ1x5f/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">September 2023</h3>
    <p class="card-text">Times Higher Education (THE) Releases World University Rankings 2024</p>
    <a href="https://drive.google.com/file/d/1O_2LOF0La2rO8rNOMGR3zNO9CnLJMyNB/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">October 2023</h3>
    <p class="card-text">GST Council clears a few measures to boost foreign trade</p>
    <a href="https://drive.google.com/file/d/126IynwrxyOiv5enZoza4fwMKJd6rMrS0/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets\CALOGO.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">November 2023</h3>
    <p class="card-text">Nicaragua’s Sheynnis Palcios Crowned 72nd Miss Universe 2023</p>
    <a href="https://drive.google.com/file/d/1r5RjZ5ec_ZglI5xmtWh65dGZ_3JJVNBE/view?usp=drive_link" class="btn btn-primary">Know More</a>
  </div>
</div>

</div>
