<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th class="col-8" colspan="2"> NEW UPDATES</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-8">Union Public Service Commission (UPSC) is going to conducts Combined Defence Services (CDS ) Examination for recruitment of various 
            vacancies under Indian Military Academy, Indian Naval Academy, Air Force Academy and Officers Training Academy. The CDS syllabus details is given below.</td>
          <td class="col-8"><a href="https://drive.google.com/file/d/1wcGgShsj_ovtOcpvndhatN8s6T_CRHFg/view?usp=drive_link">Click here for Notification</a></td>
        </tr>
        <tr>
          <td class="col-8">Union public service commission conducts National Defence Academy (NDA) & Naval Academy (NA) exam twice in a year for admission to Indian Navy, Army & Air Force Wings. Minimum Educational Qualification is 12th class pass in 10+2 pattern.  
            The examination conducts in 2 stages, written examination and interview.The details regarding Syllabus are as follows…</td>
          <td class="col-8"><a href="https://drive.google.com/file/d/1jB2M0Un2Yj_SwrR8DOKrFQEVHrc4_5cz/view?usp=drive_link">Click here for Notification</a></td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
    </div>
