<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th class="col-8" > File Name</th>
          <th class="col-8" > File</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-8">SYLLABUS FOR WRITTEN EXAMINATION – SI (TALUK, AR & TSP).</td>
          <td class="col-8"><a href="https://drive.google.com/file/d/1gMpU5FH_DJGhD9HgDh-8plhVWu1SjJNZ/view?usp=drive_link">Click here for Notification</a></td>
        </tr>
        <tr>
          <td class="col-8">SYLLABUS FOR WRITTEN EXAMINATION -TNPSC GROUP 1</td>
          <td class="col-8"><a href="https://drive.google.com/file/d/1q1B1rLKDNCUuDXBZSfknf_tpInieZH3C/view?usp=drive_link">Click here for Notification</a></td>
        </tr>
      </tbody>
    </table>
    </div>
