<div class="card">
    <div class="card1">
        <img src="assets/upsc.jpg" alt="Card Image" class="card-img">
        <div class="card-content">
            <h2>Upsc</h2>
            <p>deccrption</p>
            <a [routerLink]="'UpscComponent'" routerLinkActive="Active"> Learn More</a>
        </div>
    </div>
    <div class="card2">
        <img src="assets/TNPSC.jpg" alt="Card Image" class="card-img">
        <div class="card-content">
            <h2>Tnpsc</h2>
            <p>deccrption</p>
            <a [routerLink]="'TnpscComponent'" routerLinkActive="Active"> Learn More</a>
        </div>
    </div>
</div>