<div class="table-container">
<table class="table">
  <thead>
    <tr>
      <th class="col-8" colspan="2"> NEW UPDATES</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-8">Union Public Service Commission (UPSC) has given a notification for Conducting of Combined Defence Services (CDS) Exam I 2024. Those Candidates who are interested in the vacancy details & 
        completed all eligibility criteria can read the Notification & Apply Online.</td>
      <td class="col-8"><a href="https://drive.google.com/file/d/1PZ2tjf1_OZNZnkPsq89CvxionZq6pINx/view?usp=drive_link">Click here for Notification</a></td>
    </tr>
    <tr>
      <td class="col-8">nion Public Service Commission (UPSC) has Announced notification of National Defence Academy and Naval Academy Examination I 2024. Those Candidates who are interested in the vacancy details & 
        completed all eligibility criteria can read the Notification & Apply Online.</td>
      <td class="col-8"><a href="https://drive.google.com/file/d/13o-AoQYsbr4Mcwdy_kobiAFJ3xFPwp2w/view?usp=drive_link">Click here for Notification</a></td>
    </tr>
  </tbody>
</table>
</div>